{{- $scratch := newScratch }}

{{- if (.Param "pinned") -}}
    {{- $scratch.Add "meta" (slice "<span class='meta-pin'>置顶</span>") }}
{{- end }}

{{- if not .Date.IsZero -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words" .WordCount)))) }}
{{- end }}

{{- if eq .Type "posts" -}}
    {{- $scratch.Add "meta" (slice (printf "<span class='local-views'>本机 <span data-view-path='%s'>0</span> 次</span>" .RelPermalink)) }}
{{- end }}

{{- with (.GetTerms "categories") -}}
    {{- $cats := slice -}}
    {{- range . -}}
        {{- $cats = $cats | append (printf "<a href='%s'>%s</a>" .RelPermalink .LinkTitle) -}}
    {{- end -}}
    {{- $scratch.Add "meta" (slice (printf "<span class='meta-cats'>%s</span>" (delimit $cats " / "))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) }}
        {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
    {{- end }}
{{- end }}

{{- $gitinfo := (partial "post_gitinfo.html" .) }}
{{- if $gitinfo }}
    {{- $scratch.Add "meta" (slice $gitinfo) }}
{{- end }}

{{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
